<div class="container">
  <ul class="collection">
  {{#each article}}
  <li class="collection-item avatar" data-id="{{id}}">
      <i class="material-icons circle light-green darken-3">restaurant</i>
      <span class="title">{{title}}</span>
      <p>{{description}} <br>
        <a href="{{link}}">Link</a>
      </p>
      <a href="#!" class="secondary-content update-save" data-id={{id}} data-saved={{saved}}><i class="material-icons icon-olive-green">{{star}}</i></a>
      <a class="waves-effect waves-light btn modal-trigger" data-id="{{id}}" href="#modal1">Modal</a>
    </li>
  {{/each}}
  </ul>
</div>  
